{% extends 'base.html' %}
{% block homeActive %} active {% endblock homeActive %}
{% block body %}

<div class="container my-4">
<h2> Application Review System</h2>
<p> This is an Application Review System created with love by Abdul Rehman Kalsekar. Below are some of the Charactersictics of the Application
<ol>
<li> Complete User Authentication and Autherization using Django </li>
<li> Each User can only Fill Application once </li>
<li> He can Later Track his Application via provided Application ID  </li>
<li> Status Will be Shown whether his Application has been acccepted or rejected  </li>
</ol>

<br>

</p>
</div>


{% endblock body %}